# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
ENV/
env/
.venv/

# VS Code
.vscode/

# Mac OS / Windows
.DS_Store
Thumbs.db

# Python logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# Test results
*.pytest_cache/

# Environment variables
.env

# Watch history file (if you want to keep it private)
history.txt
